<header id=header>
  <nav>
    <h1 style="font-family:Arial, Helvetica, sans-serif">Spechelle's</h1>
  </nav><br>
  <button routerLink="/sunglasses">Glasses</button> <button routerLink="/earrings">Earring</button> <button routerLink= "/masks">Mask</button><button routerLink="/sunglasses">Sunglasses</button> 
  <div style="text-align: right;">
    <button routerLink="" >Home</button>
    <button routerLink="login" >Login</button>
  </div>
</header>
<router-outlet></router-outlet>
<iframe width="250" height="200" src="https://www.youtube.com/embed/razbDEEhb1I"></iframe>
